In [267]:
import pandas as pd
import seaborn as sns
import numpy as np

In [274]:
dataFrame = pd.read_csv("Laliga.csv")
dataFrame.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1

In [275]:
#replace '-' with 0
dataFrame.replace(to_replace='-',value=0, inplace=True)

In [279]:
dataFrame.columns = dataFrame.iloc[0]
dataFrame = dataFrame[1:]

In [273]:
#Print all the teams which have started playing between 1930-1980.
dataFrame.Team[(dataFrame['Debut'] >= '1930') & (dataFrame['Debut'] <= '1980')]

4                Valencia
6                 Sevilla
9                Zaragoza
10             Real Betis
11    Deportivo La Coruna
12             Celta Vigo
13             Valladolid
15         Sporting Gijon
16                Osasuna
17                 Malaga
18                 Oviedo
19               Mallorca
20             Las Palmas
22                Granada
23         Rayo Vallecano
24                  Elche
26               Hercules
27               Tenerife
28                 Murcia
29                 Alaves
30                Levante
31              Salamanca
32               Sabadell
33                  Cadiz
35              Castellon
38                Cordoba
40             Recreativo
41              Burgos CF
42             Pontevedra
47              Gimnastic
50               Alcoyano
51                   Jaen
53             AD Almeria
55                 Lleida
58                 Condal
59        Atletico Tetuan
60       Cultural Leonesa
Name: Team, dtype: object

In [280]:
#Print the list of teams which came Top 5 in terms of points
dataFrame['Points']=dataFrame['Points'].astype(int)
dataFrame.sort_values(by=['Points'],ascending=False).head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [239]:
#Write a function with name “Goal_diff_count” which should return all the teams with their 
#Goal Differences.Using the same function, find the team which has maximum and minimum 
#goal difference.

dataFrame['GoalsFor'] = dataFrame['GoalsFor'].astype(int)
dataFrame['GoalsAgainst'] = dataFrame['GoalsAgainst'].astype(int)
def Goal_Diff_Count(value):
    value['GoalDiff']= value['GoalsFor'] - value['GoalsAgainst']
    for i in range(len(value)):
        print(value.iloc[i,1], value.iloc[i,20])
    value.sort_values(by='GoalDiff',ascending=False)
    max_value = value['GoalDiff'].max()
    min_Value = value['GoalDiff'].min()
    print("Team with maximum goal difference :",value.Team[value['GoalDiff'] == max_value])
    print("Team with minimum goal difference :",value.Team[value['GoalDiff'] == min_Value])

Goal_Diff_Count(dataFrame)

Real Madrid 2807
Barcelona 2786
Atletico Madrid 1225
Valencia 929
Athletic Bilbao 931
Sevilla 307
Espanyol -280
Real Sociedad -2
Zaragoza -164
Real Betis -333
Deportivo La Coruna -136
Celta Vigo -346
Valladolid -413
Racing Santander -525
Sporting Gijon -399
Osasuna -334
Malaga -342
Oviedo -309
Mallorca -189
Las Palmas -399
Villarreal 103
Granada -338
Rayo Vallecano -328
Elche -272
Getafe -113
Hercules -334
Tenerife -125
Murcia -385
Alaves -165
Levante -202
Salamanca -159
Sabadell -228
Cadiz -269
Logrones -198
Castellon -169
Albacete -90
Almeria -122
Cordoba -145
Compostela -42
Recreativo -94
Burgos CF -94
Pontevedra -56
Numancia -98
Eibar -28
Arenas -81
Real Burgos -38
Gimnastic -114
Extremadura -55
Merida -45
Alcoyano -107
Jaen -62
Real Union -31
AD Almeria -45
Europa -34
Lleida -112
Leganes -19
Xerez -28
Condal -20
Atletico Tetuan -34
Cultural Leonesa -31
Girona 0
Team with maximum goal difference : 1    Real Madrid
Name: Team, dtype: object
Team with minimum goal difference : 14    Racing Santander
Name: Team, dtype: object

In [241]:
#Create a new column with name “Winning Percent” and append it to the data set
dataFrame['GamesWon'] = dataFrame['GamesWon'].astype(int)
dataFrame['GamesPlayed'] = dataFrame['GamesPlayed'].astype(int)

dataFrame['Winning Percent'] = (dataFrame['GamesWon'] / dataFrame['GamesPlayed'])*100

In [248]:
#If there are any numerical error, replace it with 0%
dataFrame.fillna(0,inplace=True)

In [265]:
#Print the top 5 teams which has the highest Winning percentage
dataFrame.sort_values(by='Winning Percent', ascending=False).head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GoalDiff,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,929,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629

In [266]:
#Group teams based on their “Best position” and print the sum of their points for all positions
dataFrame.groupby("BestPosition")['Points'].sum()

BestPosition
1     27933
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
2      6904
20       34
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
Name: Points, dtype: int32